body{
  background-color:black;
}

#app{
  display:flex;
  flex-direction:column

}
#contents{
  display:block
}

#title{
  display:flex;
  margin:auto;
}

h1{
  margin:auto;
  font-size:xxx-large;
  color:#B82601
}
h2{
  align-self:center;
  font-size:xx-large;
  color:#B82601
}
main{
  display:flex;
  flex-direction:column;
  align-self:center;
}
p{
  color:#B82601
}
